.play-movie {
    position: absolute;
    height: 80px;
    line-height: 80px;
    border: 1px solid;
    top: 50%;
    color: white;
    border-radius: 50%;
    width: 80px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: gray;
    opacity: 0.5;
}

.play-movie:hover {
    opacity: 0.7;
    transition: all 0.5s;
}

.wrapper {
    position: relative !important;
}